html,
body {
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'DM Sans', sans-serif;
}

.nav-txt {
    color: #032D60;
}

.nav-btn {
    color: white;
    padding: 10px 24px;
    background-color: #2E844A;
    border-radius: 5px;
}

.nav-btn:hover {
    background-color: #1C3326;
}

@media screen and (width< 1280px) {
    .nav-btn {
        padding: 5px 12px;
    }
}

.blue-btn {
    color: white;
    padding: 14px 30px;
    background-color: #0176D3;
    border-radius: 5px;
}

.blue-btn:hover {
    background-color: #032d60;
}

.blue-border-btn {
    background-color: white;
    color: #0176D3;
    border: 2px solid #0176D3;
    border-radius: 5px;
    padding: 12px 30px;
}

.blue-border-btn:hover {
    color: #000000;
    border: 2px solid #000000;
    background-color: #EAECFE;
}

.white-btn {
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 10px 28px;
    font-family: 'Avalon-Demi', sans-serif;
}

.white-btn:hover {
    color: #032E61;
    border: 2px solid #ffffff;
    background-color: #ffffff;
}

.white-btn svg path {
    stroke: #ffffff;
}

.white-btn:hover svg path {
    stroke: #032E61;
}

.taper {
    background-color: #032D60;
}

@font-face {
    font-family: 'Avalon-Demi';
    src: url('/assets/fonts/Avalon-Demi.ttf') format('truetype');
    font-weight: bold;
}

.head {
    font-family: 'Avalon-Demi', sans-serif;
    font-weight: bold;
}

.card-head {
    font-family: 'Avalon-Demi', sans-serif;
}

.chat-font {
    font-family: 'Avalon-Demi', sans-serif;
    font-weight: bold;
}

.mobile-menu {
    display: none;
}

.mobile-menu-open {
    display: block;
}

.products_menu {
    display: none;
}

.products_menu-open {
    display: block;
}

.customer_360_menu {
    display: none;
}

.customer_360_menu-open {
    display: block;
}

.partner_menu {
    display: none;
}

.partner_menu-open {
    display: block;
}

.customer_success_menu {
    display: none;
}

.customer_success_menu-open {
    display: block;
}

.industries_menu {
    display: none;
}

.industries_menu-open {
    display: block;
}

.learning_menu {
    display: none;
}

.learning_menu-open {
    display: block;
}

.learning_trailhead_menu {
    display: none;
}

.learning_trailhead_menu-open {
    display: block;
}

.learning_customer_stories_menu {
    display: none;
}

.learning_customer_stories_menu-open {
    display: block;
}

.learning_events_menu {
    display: none;
}

.learning_events_menu-open {
    display: block;
}

.learning_by_topic_menu {
    display: none;
}

.learning_by_topic_menu-open {
    display: block;
}

.learning_by_role_menu {
    display: none;
}

.learning_by_role_menu-open {
    display: block;
}

.learning_by_content_menu {
    display: none;
}

.learning_by_content_menu-open {
    display: block;
}

.learning_blogs_menu {
    display: none;
}

.learning_sucess_center_menu {
    display: none;
}

.learning_sucess_center_menu-open {
    display: block;
}

.learning_blogs_menu-open {
    display: block;
}

.support_menu {
    display: none;
}

.support_menu-open {
    display: block;
}

.support_documentation_menu {
    display: none;
}

.support_documentation_menu-open {
    display: block;
}

.support_communities_menu {
    display: none;
}

.support_communities_menu-open {
    display: block;
}

.support_plans_menu {
    display: none;
}

.support_plans_menu-open {
    display: block;
}

.support_account_menu {
    display: none;
}

.support_account_menu-open {
    display: block;
}

.company_menu {
    display: none;
}

.company_menu-open {
    display: block;
}

.company_about_menu {
    display: none;
}

.company_about_menu-open {
    display: block;
}

.company_values_menu {
    display: none;
}

.company_values_menu-open {
    display: block;
}

.company_impact_menu {
    display: none;
}

.company_impact_menu-open {
    display: block;
}

.company_careers_menu {
    display: none;
}

.company_careers_menu-open {
    display: block;
}

.company_news_menu {
    display: none;
}

.company_news_menu-open {
    display: block;
}

.company_brands_menu {
    display: none;
}

.company_brands_menu-open {
    display: block;
}

.salesforceplus_menu {
    display: none;
}

.salesforceplus_menu-open {
    display: block;
}

.salesforceplus_original_menu {
    display: none;
}

.salesforceplus_original_menu-open {
    display: block;
}

.salesforceplus_dreamforce_menu {
    display: none;
}

.salesforceplus_dreamforce_menu-open {
    display: block;
}

.salesforceplus_list_menu {
    display: none;
}

.salesforceplus_list_menu-open {
    display: block;
}

.login_menu{
    display: none;
}

.login_menu-open{
    display: block;
}

.contact_menu{
    display: none;
}

.contact_menu-open{
    display: block;
}

.region_menu{
    display: none;
}

.region_menu-open{
    display: block;
}

#cross {
    display: none;
}
